body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #e3c9ab, #d7b99c);
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 3em;
  margin: 0;
  padding: 0;
}
